asgiref==3.11.1
blinker==1.9.0
click==8.3.1
colorama==0.4.6
Django==6.0.4
Flask==3.1.2
Flask-JWT-Extended==4.7.1
gunicorn==26.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
MarkupSafe==3.0.3
mysqlclient==2.2.8
nltk==3.9.3
numpy==2.4.0
packaging==26.2
pandas==2.3.3
pillow==12.1.1
PyJWT==2.11.0
PyMySQL==1.2.0
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2026.2.28
scikit-learn==1.8.0
scipy==1.16.3
six==1.17.0
sqlparse==0.5.5
threadpoolctl==3.6.0
tqdm==4.67.3
tzdata==2025.3
Werkzeug==3.1.4
whitenoise==6.12.0
